.orange-bg{
     background-color: #fceae8;
     border-radius: 10px;
 }
 .carousel-item{
    padding: 20px 40px;
    transition: 1s ease, 1s ease-out
 }
 .price{
     color: #FF136F;
 }
 .buy-now-button{
    text-decoration: none;
    background-image: linear-gradient(to bottom, #FF589B, #FF136F 100%);
    color: #fff;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
 }
 h1{
    font-family: 'Work Sans', sans-serif;
 }
 p1{
     
    font-family: 'Balsamiq Sans', cursive;
 }
 .container{
    width: 70%;
    margin-top: 5px;
    margin-bottom: 50px;